<form
  class="addCustomerForm"
  (ngSubmit)="onSubmit()"
  [formGroup]="addCustomerForm">
  <h1>{{ buttonText }}</h1>
  <div class="form-section">
    <div class="input-wrapper">
      <label>First Name</label>
      <span class="label-shadow">First Name</span>
      <input type="text" formControlName="firstName"/>
      <div
        *ngIf="
        addCustomerForm.controls['firstName'].invalid &&
        addCustomerForm.controls['firstName'].touched &&
        addCustomerForm.controls['firstName'].errors.required
      ">
        First name is required
      </div>
      <div
        *ngIf="
        addCustomerForm.controls['firstName'].invalid &&
        addCustomerForm.controls['firstName'].touched &&
        addCustomerForm.controls['firstName'].errors.minlength
      ">
        First name must be with min length of 2 chars
      </div>
      <div
        *ngIf="
        addCustomerForm.controls['firstName'].invalid &&
        addCustomerForm.controls['firstName'].touched &&
        addCustomerForm.controls['firstName'].errors.maxlength
      "
      >
        First name must be less than 45 characters long
      </div>
    </div>

    <div class="input-wrapper">
      <label>Last Name</label>
      <span class="label-shadow">Last Name</span>
      <input type="text" formControlName="lastName"/>
      <div
        *ngIf="
        addCustomerForm.controls['lastName'].invalid &&
        addCustomerForm.controls['lastName'].touched &&
        addCustomerForm.controls['lastName'].errors.required
      "
      >
        Last name is required
      </div>
      <div
        *ngIf="
        addCustomerForm.controls['lastName'].invalid &&
        addCustomerForm.controls['lastName'].touched &&
        addCustomerForm.controls['lastName'].errors.minlength
      "
      >
        Last name must be with min length of 2 chars
      </div>
      <div
        *ngIf="
        addCustomerForm.controls['lastName'].invalid &&
        addCustomerForm.controls['lastName'].touched &&
        addCustomerForm.controls['lastName'].errors.maxlength
      "
      >
        Last name must be less than 45 characters long
      </div>
    </div>
    <div class="input-wrapper">
      <label>Email</label>
      <span class="label-shadow">Email</span>
      <input type="email" formControlName="email"/>
      <div
        *ngIf="
        addCustomerForm.controls['email'].invalid &&
        addCustomerForm.controls['email'].touched &&
        addCustomerForm.controls['email'].errors.required
      "
      >
        Email is required
      </div>
      <div
        *ngIf="
        addCustomerForm.controls['email'].invalid &&
        addCustomerForm.controls['email'].touched &&
        addCustomerForm.controls['email'].errors.minlength
      "
      >
        Email must be with min length of 10 chars
      </div>
      <div
        *ngIf="
        addCustomerForm.controls['email'].invalid &&
        addCustomerForm.controls['email'].touched &&
        addCustomerForm.controls['email'].errors.maxlength
      "
      >
        Email must be less than 45 characters long
      </div>
    </div>
    <div class="input-wrapper">
      <label>Password</label>
      <span class="label-shadow">Password</span>
      <input id="password" type="password" formControlName="password"/>
      <div
        *ngIf="
        addCustomerForm.controls['password'].invalid &&
        addCustomerForm.controls['password'].touched &&
        addCustomerForm.controls['password'].errors.required
      "
      >
        Password is required
      </div>
      <div
        *ngIf="
        addCustomerForm.controls['password'].invalid &&
        addCustomerForm.controls['password'].touched &&
        addCustomerForm.controls['password'].errors.minlength
      "
      >
        Password must be with min length of 5 chars
      </div>
      <div
        *ngIf="
        addCustomerForm.controls['password'].invalid &&
        addCustomerForm.controls['password'].touched &&
        addCustomerForm.controls['password'].errors.maxlength
      "
      >
        Password must be less than 45 characters long
      </div>
    </div>
    <div class="input-wrapper">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword"/>
      <div
        *ngIf="
        addCustomerForm.controls['confirmPassword'].invalid &&
        addCustomerForm.controls['confirmPassword'].touched &&
        addCustomerForm.controls['confirmPassword'].errors.required
      "
      >
        Password confirmation is required
      </div>
      <div
        *ngIf="
        addCustomerForm.controls['confirmPassword'].invalid &&
        addCustomerForm.controls['confirmPassword'].touched &&
        addCustomerForm.controls['confirmPassword'].errors.minlength
      "
      >
        Password confirmation must be with min length of 5 chars
      </div>
      <div
        *ngIf="
        addCustomerForm.controls['confirmPassword'].invalid &&
        addCustomerForm.controls['confirmPassword'].touched &&
        addCustomerForm.controls['confirmPassword'].errors.maxlength
      "
      >
        Password confirmation must be less than 45 characters long
      </div>
    </div>

    <button
      class="registerButton"
      type="submit"
      [disabled]="!addCustomerForm.valid">
      SUBMIT
    </button>
  </div>
</form>
