<form
  class="addCustomerForm"
  (ngSubmit)="onSubmit()"
  [formGroup]="addCustomerForm"
>
  <div>
    <label>firstName</label>
    <input type="text" formControlName="firstName" />
    <div *ngIf="addCustomerForm.controls['firstName'].invalid">
      firstName is required
    </div>
  </div>

  <div>
    <label>lastName</label>
    <input type="text" formControlName="lastName" />
    <div *ngIf="addCustomerForm.controls['lastName'].invalid">
      lastName is required
    </div>
  </div>

  <div>
    <label>email </label>
    <input type="email" formControlName="email" />
    <div *ngIf="addCustomerForm.controls['email'].invalid">
      email is required
    </div>
  </div>

  <div>
    <label>password</label>
    <input id="password" type="password" formControlName="password" />
    <div *ngIf="addCustomerForm.controls['password'].invalid">
      password is required
    </div>
  </div>
  <div>
    <label>confirm password</label>
    <input id="confirm_password" type="password" />
  </div>

  <button
    class="registerButton"
    type="submit"
    [disabled]="!addCustomerForm.valid"
  >
    {{ buttonText }}
  </button>
</form>
