.addCustomerForm{
    color: blue;
    text-align: center;
    align-items: center;
    align-content: center ;

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
  color: rgb(252, 7, 7);
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
label{
  color: red;
}

.registerButton:hover {
  background-color: #45a049;
}
.registerButton{
  color: #a04559;
  width: 100%;
  background-color: blue;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: grab;


}
div {
  border-radius: 10px;
  background-color: black;
  padding: 20px;
}
