.left-side-links{
  float: left;
}
.right-side-links{
  float: right;
  right: 0;
}
.link {
  margin: 7.5px;
}
a {
  background-color: #6a4caf; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}
