<nav class="header">
  <a
    class="link {{ item.navigation === 'home' && 'logo' }}"
    *ngFor="let item of headerItems"
    [routerLink]="item.navigation">
    <img
      *ngIf="item.navigation==='home'"
      src="../../../assets/logo.png"
      alt="coupons-app-logo" />
    <span *ngIf="item.navigation!=='home'">
      {{ item.title }}
    </span>
  </a>
  <a class="link dont-attract-user" *ngIf="user" href="log-out">log out</a>
  <a class="link" *ngIf="!user" href="sign-in">sign in</a>
  <a class="link" *ngIf="!user" href="sign-up">sign up</a>
</nav>
