<div>
  <h1>Customers</h1>
  <button
    class="add-button"
    (click)="onAddCustomer()">+</button>
  <table>
    <thead>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>edit</th>
      <th>delete</th>
    </thead>
    <tr *ngFor="let customer of customersView">
      <td>{{ customer.id }}</td>
      <td>{{ customer.firstName }} {{ customer.lastName }}</td>
      <td>{{ customer.email }}</td>
      <td><button (click)="onEditCustomer(customer)">E</button></td>
      <td><button (click)="onDeleteCustomer(customer)">D</button></td>
    </tr>
  </table>
</div>
