<div>
  <h1>Customers</h1>
  <button
    class="add-button"
    (click)="onAddCustomer()">+</button>
  <table>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
    <tr *ngFor="let customer of customersView">
      <td>{{ customer.id }}</td>
      <td>{{ customer.firstName }} {{ customer.lastName }}</td>
      <td>{{ customer.email }}</td>
      <td>
        <button
          class="edit-button"
          (click)="onEditCustomer(customer)">️✍️</button></td>
      <td>
        <button
          class="delete-button"
          (click)="onDeleteCustomer(customer)">❌</button></td>
    </tr>
  </table>
</div>
