<div *ngIf="status" class="profile-display-wrapper">
  <div class="header_wrapper">
    <h1>Profile</h1>
    <button (click)="updateDetails()">
      UPDATE DETAILS
    </button>
  </div>

  <div>
    <div class="status_wrapper">
      <h2>Your Details</h2>
      <div class="status" *ngFor="let key of getDetailsKeys(status)">
        <div class="key">
          {{ key | titlecase }}
        </div>
        <div class="value">
          {{ status[key] }}
        </div>
        <button *ngIf="key==='password'" id="show_pass" (mousedown)="displayPassword()" (mouseleave)="hidePassword()" (mouseup)="hidePassword()"><img id="eye" src="../../../assets/eye.png" alt="show password"><img id="blue_eye" src="../../../assets/blueEye.png" alt="show password"></button>
      </div>
    </div>

    <div class="statistics_wrapper">
      <h2>Some Statistics</h2>
      <div class="statistics" *ngFor="let statistic of statistics|keyvalue">
        <div class="key">
          {{ statistic.key }}
        </div>
        <div class="value">
          <div *ngIf="statistic.value.type === 'number'">
            {{ statistic.value.value }}
          </div>
          <div *ngIf="statistic.value.type === 'price'">
            {{ statistic.value.value }} ₪
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
