<div class="home-wrapper">
  <div class="coupon-banner-wrapper">
    <img
      class="coupon-banner"
      src="./assets/coupon-deal-banner.webp"/>
  </div>
  <h1>Filter by</h1>
  <div class="toolbar">
    <select #selectedFilter (change)="setFilterType(selectedFilter)">
      <option value="all">see all</option>
      <option value="title">title</option>
      <option value="price">max price</option>
      <option value="category">category</option>
    </select>
    <div class="filter-toolbar" *ngIf="filterType">
      <div class="filter-by-wrapper" *ngIf="filterType === 'price' || filterType === 'title'">
        <input *ngIf="filterType === 'title'" id="filter-input-title" type="text" />
        <input
          *ngIf="filterType === 'price'"
          id="filter-input-price"
          type="number" />
        <button (click)="filterCoupons()">
          filter by {{ filterType }}
        </button>
      </div>
      <select
        #selectedFilter
        (change)="filterByCategory(selectedFilter)"
        *ngIf="filterType === 'category'">
        <option *ngFor="let category of allCategories" value="{{ category }}">
          {{ category }}
        </option>
      </select>
    </div>
  </div>
  <!--  *ngIf="couponsByCategory" TODO: redundant? -->
  <!-- [class]="specialCategories.includes(category.key) ? 'special' : ''"-->
  <div class="categories">
    <div
      class="category-wrapper"
      *ngFor="let category of couponsByCategory | keyvalue">
      <h1>{{ category.key | titlecase }}</h1>
      <div class="coupon-wrapper">
        <app-coupon-view
          *ngFor="let coupon of category.value"
          [couponView]="coupon"
          [enableClick]="category.key !== unlaunchedCouponsCategory"
          (choosing)="openProfile($event)">
        </app-coupon-view>
      </div>
    </div>
  </div>
</div>
