<!--<div class="overlay" [class]="isFilterOpen && 'active'"></div>-->
<div class="home-wrapper">
  <div class="coupon-banner-wrapper">
    <img
      class="coupon-banner"
      src="./assets/coupon-deal-banner.webp" />
  </div>
  <div class="filter-wrapper" [class]="isFilterOpen ? 'overlay-active' : ''">
    <div class="filter-options">
      <form [formGroup]="form">
        <input
          (change)="setFilterType($event)"
          type="radio"
          id="filter-all"
          formControlName="filterCategories"
          value="all">
        <label
          (click)="openFilter()"
          for="filter-all">No Filter</label>
        <input
          (change)="setFilterType($event)"
          type="radio"
          id="filter-title"
          formControlName="filterCategories"
          value="title">
        <label
          [class]="filterType === 'title' ? 'active' : ''"
          (click)="openFilter()"
          for="filter-title">Title</label>
        <input
          (change)="setFilterType($event)"
          type="radio"
          id="filter-price"
          formControlName="filterCategories"
          value="price">
        <label
          [class]="filterType === 'price' ? 'active' : ''"
          (click)="openFilter()"
          for="filter-price">Max Price</label>
        <input
          (change)="setFilterType($event)"
          type="radio"
          id="filter-category"
          formControlName="filterCategories"
          value="category">
        <label
          [class]="filterType === 'category' ? 'active' : ''"
          (click)="openFilter()"
          for="filter-category">Category</label>
      </form>
    </div>
    <div *ngIf="filterType && isFilterOpen">
      <button (click)="closeFilter()">X</button>
      <div class="filter-choice-wrapper" [class]="filterType">
        <div class="arrow-up"></div>
        <div class="filter-choice">
          <input
            *ngIf="filterType === 'title'"
            id="filter-input-title"
            type="text" />
          <input
            *ngIf="filterType === 'price'"
            id="filter-input-price"
            type="number" />
          <select
            *ngIf="filterType === 'category'"
            #selectedFilter
            (change)="filterByCategory(selectedFilter)">
            <option *ngFor="let category of allCategories" value="{{ category }}">
              {{ category }}
            </option>
          </select>
          <button (click)="filterCoupons(); closeFilter()">
            Filter by {{ filterType }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--  *ngIf="couponsByCategory" TODO: redundant? -->
  <!-- [class]="specialCategories.includes(category.key) ? 'special' : ''"-->
  <div class="categories">
    <div
      class="category-wrapper"
      *ngFor="let category of couponsByCategory | keyvalue">
      <h1>{{ category.key | titlecase }}</h1>
      <div class="coupon-wrapper">
        <app-coupon-view
          *ngFor="let coupon of category.value"
          [couponView]="coupon"
          [enableClick]="category.key !== unlaunchedCouponsCategory"
          (choosing)="openProfile($event)">
        </app-coupon-view>
      </div>
    </div>
  </div>
</div>
