<div class="home-wrapper">
  <img
    class="coupon-banner"
    src="./assets/coupon-deal-banner.webp"/>
  <div [class]="isFilterMenuOpen ?
    'filter-wrapper opened' :
    'filter-wrapper closed'">
    <button
      (click)="toggleFilterMenu()"
      class="filter-button"></button>
    <div class="filter-options">
      <!--      <p>filter by:</p>-->
      <!--      <select #selectedFilter (change)="setFilterType(selectedFilter)">-->
      <!--        <option value="all">see all</option>-->
      <!--        <option value="title">title</option>-->
      <!--        <option value="price">max price</option>-->
      <!--        <option value="category">category</option>-->
      <!--      </select>-->

      <!--          [ng-change="string"]-->
      <!--#selectedFilter-->
      <!--(change)="setFilterType(selectedFilter)"-->
      <form [formGroup]="form">
        <input
          (change)="setFilterType($event)"
          type="radio"
          id="filter-all"
          formControlName="filterCategories"
          value="all">
        <label for="filter-all">No Filter</label>
        <input
          (change)="setFilterType($event)"
          type="radio"
          id="filter-title"
          formControlName="filterCategories"
          value="title">
        <label for="filter-title">Title</label>
        <input
          (change)="setFilterType($event)"
          type="radio"
          id="filter-price"
          formControlName="filterCategories"
          value="price">
        <label for="filter-price">Max Price</label>
        <input
          (change)="setFilterType($event)"
          type="radio"
          id="filter-category"
          formControlName="filterCategories"
          value="category">
        <label for="filter-category">Category</label>
      </form>
    </div>
  </div>
  <div *ngIf="filterType">
    <div *ngIf="filterType === 'price' || filterType === 'title'">
      <input *ngIf="filterType === 'title'" id="filter-input-title" type="text"/>
      <input
        *ngIf="filterType === 'price'"
        id="filter-input-price"
        type="number"
      />
      <button (click)="filterCoupons()">filter by {{ filterType }}</button>
    </div>
    <select
      #selectedFilter
      (change)="filterByCategory(selectedFilter)"
      *ngIf="filterType === 'category'"
    >
      <option *ngFor="let category of allCategories" value="{{ category }}">
        {{ category }}
      </option>
    </select>
  </div>
  <div *ngIf="couponsByCategory">
    <div
      class="display_wrapper"
      *ngFor="let category of couponsByCategory | keyvalue">
      <div class="category">
        {{ category.key | titlecase }}
      </div>
      <div class="coupon_wrapper">
        <app-coupon-view
          *ngFor="let coupon of category.value"
          [couponView]="coupon"
          [enableClick]="category.key !== unlaunchedCouponsCategory"
          (choosing)="openProfile($event)"></app-coupon-view>
      </div>
      <div>
        <hr class="hr"/>
      </div>
    </div>
  </div>
</div>
