<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <div>
    <label>email: </label>
    <input type="email" formControlName="email" />
    <div
      *ngIf="
        loginForm.controls['email'].invalid &&
        loginForm.controls['email'].touched &&
        loginForm.controls['email'].errors.required
      "
    >
      Email is required
    </div>
    <div
      *ngIf="
        loginForm.controls['email'].invalid &&
        loginForm.controls['email'].touched &&
        loginForm.controls['email'].errors.minlength
      "
    >
      Email must be with min length of 10 chars
    </div>
    <div
      *ngIf="
        loginForm.controls['email'].invalid &&
        loginForm.controls['email'].touched &&
        loginForm.controls['email'].errors.maxlength
      "
    >
      Email must be less than 45 characters long
    </div>
  </div>
  <div>
    <label>password: </label>
    <input type="password" formControlName="password" />
    <div
      *ngIf="
        loginForm.controls['password'].invalid &&
        loginForm.controls['password'].touched &&
        loginForm.controls['password'].errors.required
      "
    >
      Password is required
    </div>
    <div
      *ngIf="
        loginForm.controls['password'].invalid &&
        loginForm.controls['password'].touched &&
        loginForm.controls['password'].errors.minlength
      "
    >
      Password must be with min length of 5 chars
    </div>
    <div
      *ngIf="
        loginForm.controls['password'].invalid &&
        loginForm.controls['password'].touched &&
        loginForm.controls['password'].errors.maxlength
      "
    >
      Password must be less than 45 characters long
    </div>
  </div>
  <br />
  <br />
  <button type="submit" [disabled]="!loginForm.valid">log in</button>
</form>
<br />
<p>Not registered yet?</p>
<a (click)="registerCustomer()">Join our hundreds of satisfied customers</a>
<br />
<a (click)="registerCompany()">Let's be one of our coupon marketers</a>
