<form
  class="addComapnyForm"
  (ngSubmit)="onSubmit()"
  [formGroup]="addCompanyForm"
>
  <div>
    <label>name</label>
    <input type="text" formControlName="name" />
    <div *ngIf="addCompanyForm.controls['name'].invalid">name is required</div>
  </div>

  <div>
    <label>email</label>
    <input type="email" formControlName="email" />
    <div *ngIf="addCompanyForm.controls['email'].invalid">
      email is required
    </div>
  </div>

  <div>
    <label>password</label>
    <input type="password" formControlName="password" />
    <div *ngIf="addCompanyForm.controls['password'].invalid">
      password is required
    </div>
  </div>
  <div>
    <label>confirm password</label>
    <input type="password" formControlName="confirmPassword" />
    <div *ngIf="addCompanyForm.controls['confirmPassword'].invalid">
      confirm password is required
    </div>
  </div>

  <button
    class="registerButton"
    type="submit"
    [disabled]="!addCompanyForm.valid"
  >
    {{ buttonText }}
  </button>
</form>
