@import '../../../colors.scss';

section#about-us {
  height: 100vh;
  overflow-y: auto;
  max-width: 700px;
  margin: auto;

  p.quote {
    padding-left: 10px;
    color: $NOT_SO_BORING_GRAY;
    border-left: 1px solid $NOT_SO_BORING_GRAY;
    font-style: italic;
    font-size: 1.3em;
  }

  div.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;

    p {
      text-align: justify;
      margin: 5px;
    }
  }

  img {
    max-width: 100px;
    float: left;
    margin-right: 15px;
  }
}
