<p>this is the about-us!</p>
<a>here will be a picutre of either us or coupons</a>
<hr>
<a class="or"> or : or (22) , is a former-math teacher from Ramla,
  ?????????? army job description
  ?????????? employment expirience
  finished logic 101 in Tel-Aviv-University, aspiring to open his own company. </a>
  <hr>
<br>
<a class="ido"> ido : (25), an online-english-teacher for the Jerusalem post,
   serves in reserves' unit of the search& rescue in the IDF,
   lives in Tel Aviv,
  trained combat medic,  </a>

