<!-- <grid> -->
<section id="about-us">
  <h1>ABOUT US</h1>
  <div class="intro">
    <h2>Welcome!</h2>
    <p>
      This is the i_o coupons system website.
    </p>
    <p class="quote">
      "in our website we take the greatest care to ensure that you find the discounts that you are looking for in order
      to ensure your satisfaction!"
    </p>
  </div>
  <div>
    <h2>The Project's Story</h2>
    <p>
      In this website you can purchase a variety of coupons.
      You can browse the website's different
      categories, or put up a coupon for sale!
    </p>

    <h3>How it started</h3>
    <p>
      The website is the final step in our 6months-long-project for JohnBryce academy,
      it has started as a simple java-based system and since then it has matured
      into a content-filled, displayable website.
    </p>

    <h3>The development</h3>

    <h4>Stage 1</h4>
    <p>
      building the project using Java's base technologies
      In this step we were relatively new to Java and encountered 2 issues: the first: was that
      we had no experience creating a new system, and the entire project had to be written from the ground up,
      while hesitating (a lot!) we wrote the project's base as well as we could and made our first design decisions in
      the process!
      the second problem was that we knew we were designing a connection to the database that is going to be changed
      a lot during our next phase.
    </p>

    <h4>Stage 2</h4>
    <p>
      Converting the entire project to work using Spring's principles
      This stage was all about making our system more efficient, Spring had a lot of built-in aids that had improved
      our system, including the repositories, that allow easier access to the db, and had a functionality of "derived
      functions"
      which helped alot, we built Services to hold all of our system's logic, and Facades which rallied the various
      classes' behaviours
      in a simple class format, using Spring has greatly helped our communication with the database, and have "saved" us
      a lot of
      time (and code lines) while operating our system.
    </p>

    <h4>Stage 3</h4>
    <p>
      using an Angular-Spring mixture to create both
      the Server-Side (backEnd) and Client-Side (FrontEnd)
      In this step we infused the Angular Technology into our project, we built a Client-Side website to communicate
      with our server
      this step was especially difficult because after all our time spent on learning Java, this part was actually
      written in TypeScript
    </p>
  </div>
  <!-- </grid> -->
</section>

<div class="profile-cards">
  <div class="profile-card">
    <div class="profile-image-wrapper">
      <img
        alt="developer-image-a"
        src="./assets/or.jpg"/>
    </div>
    <div class="text-wrapper">
      <p>
        <b>Or Shemesh</b>(22), is a former math teacher from the city of Ramla.
      </p>
      <p>
        Has experience preparing students for Bagrut exams,
        and teaching them various subjects such as Java 101, logic 101 and math.
      </p>
      <p>
        Finished logic 101 in Tel-Aviv University.
        Worked at the airforce as an air-photographs' decryptor.
      </p>
      <p>
        Aspiring to open his own company.
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="profile-image-wrapper">
      <img src="./assets/ido.jpeg" alt="developer-image-b"/>
    </div>
    <div class="text-wrapper">
      <p>
        <b>Ido Cohen</b>(25), an online english teacher for the Jerusalem post.
      </p>
      <p>
        Serves in reserves' unit of the search & rescue in the IDF
        and trained as a combat medic.
      </p>
      <p>
        Lives in Tel Aviv.
      </p>
    </div>
  </div>
</div>
<img
  class="about-us-eye-candy"
  src="./assets/coupon.png" />
