<form class="addCouponForm" (ngSubmit)="onSubmit()" [formGroup]="addCouponForm">
  <div>
    <label>title:</label>
    <input type="text" formControlName="title" />
    <div
      *ngIf="
        addCouponForm.controls['title'].invalid &&
        addCouponForm.controls['title'].touched &&
        addCouponForm.controls['title'].errors.required
      "
    >
      Title is required
    </div>
    <div
      *ngIf="
        addCouponForm.controls['title'].invalid &&
        addCouponForm.controls['title'].touched &&
        addCouponForm.controls['title'].errors.minlength
      "
    >
      Title must be with min length of 2 chars
    </div>
    <div
      *ngIf="
        addCouponForm.controls['title'].invalid &&
        addCouponForm.controls['title'].touched &&
        addCouponForm.controls['title'].errors.maxlength
      "
    >
      The title must be less than 45 characters long
    </div>
  </div>
  <div>
    <label>category:</label>
    <input type="text" formControlName="category" />
    <div
      *ngIf="
        addCouponForm.controls['category'].invalid &&
        addCouponForm.controls['category'].touched &&
        addCouponForm.controls['category'].errors.required
      "
    >
      Category is required
    </div>
    <div
      *ngIf="
        addCouponForm.controls['category'].invalid &&
        addCouponForm.controls['category'].touched &&
        addCouponForm.controls['category'].errors.minlength
      "
    >
      Category must be with min length of 2 chars
    </div>
    <div
      *ngIf="
        addCouponForm.controls['category'].invalid &&
        addCouponForm.controls['category'].touched &&
        addCouponForm.controls['category'].errors.maxlength
      "
    >
      The category must be less than 45 characters long
    </div>
  </div>
  <div>
    <label>description:</label>
    <input type="text" formControlName="description" />
    <div
      *ngIf="
        addCouponForm.controls['description'].invalid &&
        addCouponForm.controls['description'].touched &&
        addCouponForm.controls['description'].errors.required
      "
    >
      Description is required
    </div>
    <div
      *ngIf="
        addCouponForm.controls['description'].invalid &&
        addCouponForm.controls['description'].touched &&
        addCouponForm.controls['description'].errors.minlength
      "
    >
      Description must be with min length of 2 chars
    </div>
    <div
      *ngIf="
        addCouponForm.controls['description'].invalid &&
        addCouponForm.controls['description'].touched &&
        addCouponForm.controls['description'].errors.maxlength
      "
    >
      The Description must be less than 200 characters long
    </div>
  </div>
  <div>
    <label>launch date:</label>
    <input type="date" formControlName="startDate" />
    <div
      *ngIf="
        addCouponForm.controls['startDate'].invalid &&
        addCouponForm.controls['startDate'].touched &&
        addCouponForm.controls['startDate'].errors.required
      "
    >
      Launch date is required
    </div>
  </div>
  <div>
    <label>expiration date:</label>
    <input type="date" formControlName="endDate" />
    <div
      *ngIf="
        addCouponForm.controls['endDate'].invalid &&
        addCouponForm.controls['endDate'].touched &&
        addCouponForm.controls['endDate'].errors.required
      "
    >
      Expiration date is required
    </div>
  </div>
  <div>
    <label>coupon's amount:</label>
    <input type="number" formControlName="amount" />
    <div
      *ngIf="
        addCouponForm.controls['amount'].invalid &&
        addCouponForm.controls['amount'].touched &&
        addCouponForm.controls['amount'].errors.required
      "
    >
      Amount is required
    </div>
  </div>
  <div>
    <label>coupon's price:</label>
    <input type="number" formControlName="price" />
    <div
      *ngIf="
        addCouponForm.controls['price'].invalid &&
        addCouponForm.controls['price'].touched &&
        addCouponForm.controls['price'].errors.required
      "
    >
      Coupon price is required
    </div>
  </div>
  <div>
    <label>src:</label>
    <input type="text" formControlName="image" />
    <div
      *ngIf="
        addCouponForm.controls['image'].invalid &&
        addCouponForm.controls['image'].touched &&
        addCouponForm.controls['image'].errors.required
      "
    >
      Src image is required
    </div>
    <div
      *ngIf="
        addCouponForm.controls['image'].invalid &&
        addCouponForm.controls['image'].touched &&
        addCouponForm.controls['image'].errors.minlength
      "
    >
      Src image must be with min length of 4 chars
    </div>
    <div
      *ngIf="
        addCouponForm.controls['image'].invalid &&
        addCouponForm.controls['image'].touched &&
        addCouponForm.controls['image'].errors.maxlength
      "
    >
      The src image must be less than 255 characters long
    </div>
  </div>
  <br />
  <br />
  <button class="addButton" type="submit" [disabled]="!addCouponForm.valid">
    add coupon
  </button>
</form>
