<div *ngIf="coupon" class="wrapper">
  <div class="left_side">
    <div class="top">
      <div id="title">{{ coupon.title }}</div>
      <div id="price">{{ coupon.price }}</div>
    </div>
    <div class="bottom">{{ coupon.description }}</div>
  </div>
  <div class="right_side">
    <img src="{{ coupon.image }}" />
  </div>
  <div class="buttons">
    <div class="companyButtons" *ngIf="editable">
      <button (click)="updateCoupon()">update</button>
      <button (click)="deleteCoupon()">delete</button>
    </div>
    <div class="coupon_purchase_button" *ngIf="purchasable">
      <button (click)="purchaseACoupon()">Buy now!</button>
    </div>
    <div class="cansel_purchase_button" *ngIf="cancelable">
      <button (click)="cancelPurchase()">cancel purchase</button>
    </div>
  </div>
</div>
