<div *ngIf="coupon" class="coupon-profile-wrapper">
  <div class="expiration-message" [class]="getIsDealExpired() ? 'active' : ''">
    THIS DEAL JUST EXPIRED!
  </div>
  <div class="image-wrapper">
    <img src="{{ coupon.image }}" />
    <h1 class="attention">
      {{ getTimeTillDateMessage(coupon.endDate) }}
    </h1>
  </div>
  <div class="info-wrapper">
    <div class="coupon-details">
      <h1 class="title">{{ coupon.title.toUpperCase() }}</h1>
      <h1 class="monah">{{ coupon.price }}₪</h1>
    </div>
    <div class="buttons-wrapper">
      <button
        *ngIf="editable"
        (click)="updateCoupon()">Update</button>
      <button
        class="delete"
        *ngIf="editable"
        (click)="deleteCoupon()">Delete</button>
      <button
        class="buy-now"
        *ngIf="purchasable"
        (click)="purchaseACoupon()">
        BUY NOW
      </button>
      <button
        class="cancel"
        *ngIf="cancelable"
        (click)="cancelPurchase()">
        Cancel Purchase
      </button>
    </div>
    <div>
      <p class="description">
        {{ coupon.description }}
      </p>
    </div>
    <div class="coupon-alerts">
      <p>
        {{ coupon.amount <= 50 ?
        'ONLY ' + coupon.amount + ' COUPONS REMAIN!' :
        coupon.amount + ' coupons are available' }}
      </p>
    </div>
  </div>
</div>
