@import "./src/colors.scss";

.coupon-profile-wrapper {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  max-width: 1200px;
  width: 90vw;
  margin: 100px auto 0;

  .expiration-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: tomato;
    line-height: 100vh;
    font-size: 5em;
    backdrop-filter: blur(27px);
    font-weight: 900;
    display: none;
    text-shadow: 0 4px black;

    &.active {
      display: inline-block;
    }
  }

  .image-wrapper {
    grid-column-start: 2;
    padding: 0 20px;

    img {
      max-width: 50vw;
    }
  }

  .info-wrapper {
    text-align: center;
    grid-row-start: 1;
    grid-column-start: 1;
    max-width: 33vw;
  }

  p.description {
    font-size: 1.8vw;
    margin: 10px auto;
    max-width: 290px;
    text-align: justify;
  }

  h1 {
    font-family: "Catamaran", sans-serif;
  }

  h1.attention {
    color: tomato;
  }

  .coupon-details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: #4f4f4f;
      font-size: 6vw;
    }

    h1.title {
      background-color: $BORING_WHITE;
    }

    h1.monah {
      color: $GROUPON_GREEN;
      font-size: 6vw;
      margin-top: -50px;
    }
  }

  .coupon-alerts {
    p {
      font-size: 3vw;
    }
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;

    button {
      transition: all 0.5s ease;
      width: 60%;
      height: 96px;
      margin: 20px auto;
      background-color: #609bda;
      color: white;
      border: unset;
      font-size: 4em;
      font-weight: 900;
    }

    button.cancel {
      font-size: 3.9em;
      background-color: #adadad;
    }

    button.delete {
      background-color: tomato;
    }

    button.buy-now {
      background-color: $GROUPON_GREEN;
    }

    button:hover {
      width: 65%;
      height: 98px;
      font-size: 4.1em;
    }
  }
}
