@import './src/colors.scss';

.coupon-profile-wrapper {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;

  .expiration-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: tomato;
    line-height: 100vh;
    font-size: 5em;
    backdrop-filter: blur(27px);
    font-weight: 900;
    display: none;
    text-shadow: 0 4px black;

    &.active {
      display: inline-block;
    }
  }

  .image-wrapper {
    grid-column-start: 2;
  }

  .info-wrapper {
    zoom: 0.85;
    grid-row-start: 1;
    grid-column-start: 1;
  }

  p.description {
    font-size: 1.8em;
    margin: 10px auto;
    max-width: 290px;
    text-align: justify;
  }

  h1 {
    font-family: 'Catamaran', sans-serif;
  }

  h1.attention {
    color: tomato;
  }

  .coupon-details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: #4f4f4f;
      font-size: 11em;
    }

    h1.monah {
      color: $GROUPON_GREEN;
      font-size: 6.7em;
      margin-top: -70px;
    }
  }

  .coupon-alerts {
    p {
      font-size: 2.3em;
    }
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;

    button {
      transition: all 0.5s ease;
      width: 60%;
      height: 96px;
      margin: 20px auto;
      background-color: #609bda;
      color: white;
      border: unset;
      font-size: 4em;
      font-weight: 900;
    }

    button.cancel {
      background-color: #adadad;
    }

    button.delete {
      background-color: tomato;
    }

    button.buy-now {
      background-color: $GROUPON_GREEN;
    }

    button:hover {
      width: 65%;
      height: 98px;
      font-size: 4.1em;
    }
  }
}
