<p>Welcome admin</p>
<br />
<button (click)="addCompany()">
  add company
</button>
<button (click)="updateCompany(269)">
  update company
</button>
<button (click)="deleteCompany(266)">delete company</button>
<button (click)="getCompanyById(8)">get company by id</button>
<button (click)="getCompanyByName('zap')">get company by name</button>
<button (click)="addCustomer()">
  add customer
</button>
<button
  (click)="updateCustomer(236)"
>
  update customer
</button>
<button (click)="deleteCustomer(236)">delete customer</button>
<button (click)="getCustomer(1)">get customer</button>
