<button (click)="addCoupon()">

  add coupon
</button>
<!-- <button (click)="updateCoupon(197)">update coupon</button>
<button (click)="deleteCoupon(235)">delete 2nd coupon</button>
<button (click)="getCouponById(199)">get 2nd coupon</button> -->

<select>
<option (click)="getCouponByTitle('phone')">get coupon by title</option>
<option (click)="getCompanyCouponsByPrice(1000)">  get company coupons by price</option>
<option (click)="getCompanyCouponsByCategory(2)"> get company coupons by category</option>
</select>


<!--1. copying customer-home's display (switch from buttons to options like in customer)   -->
<!--2. adding filter by category(add the couponsByCategory array to replace coupons in line 31)(like filterByCategory in customer-home CLASS) and showing this filter on display-->
<!--3. add function getAllCoupons, and do task 1 on him.   -->
<!--4. use listener(choosing) event from the child component (app-coupon-view), and call openCouponProfile()(and declare the function) -->
<!--5.  -->



<!-- <button (click)="updateCompany()">
  update company
</button> -->
<!-- <button (click)="getAllCoupons()">get all company coupons</button> -->


<div *ngIf="coupons">
<div *ngFor="let coupon of coupons">
<app-coupon-view [couponView]="coupon"></app-coupon-view>
</div>
</div>
