<br />
<br />
<br />
<hr />
<select #selectedFilter (change)="setFilterType(selectedFilter)">
  <option value="displayCompanyCoupons">get all my coupons</option>
  <option value="displayCouponByTitle">get coupon by title</option>
  <option value="companyCouponsByPrice">get company coupons by price</option>
  <option value="companyCouponsByCategory">
    get company coupons by category
  </option>
</select>
<hr />
<br />
<button (click)="addCoupon()">add coupon</button>

<div *ngIf="couponsByCategory">
  <div
    class="display_wrapper"
    *ngFor="let category of couponsByCategory | keyvalue"
  >
    <div class="category">
      {{ category.key | titlecase }}
    </div>
    <div class="coupon_wrapper">
      <app-coupon-view
        *ngFor="let coupon of category.value"
        [couponView]="coupon"
        (choosing)="openCouponProfile($event)"
      ></app-coupon-view>
    </div>
    <div>
      <hr class="hr" />
    </div>
  </div>
</div>
