$APP_MAIN_COLOR: #6a4caf;
$GROUPON_GREEN: #92c45b;
$BORING_GRAY: rgba(0, 0, 0, 0.2);
$BORING_WHITE: rgba(255, 255, 255, 0.2);
$NOT_SO_BORING_GRAY: #ababab;

$COUPON_BORDER: unset; //  4px dashed rgba(0, 0, 0, 0.7);
